.nav-item-icon {
  height: 23px;
  width: 23px;
}

.dark-theme {
  color: #ffffff;
  transition: color 0.3s ease-in;
}

.over-flow {
  overflow-y: hidden;
}

.md-nav-item-icon {
  height: 28px;
  width: 28px;
}

.popup-content {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.translate-menu {
  transform: translateX(100%);
}

.rotate-close-icon {
  transform: rotate(180deg);
}

.toggle-mobile-logout {
  transform: translateY(100%);
}
