.menu-link-item {
  width: 100%;
  height: 100%;
  text-decoration: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-tab-icon {
  height: 27px;
  width: 24px;
}

@media screen and (min-width: 768px) {
  .menu-tab-icon {
    height: 24px;
    width: 24px;
  }
}
